#section-1{
    background-image: url('../img/section-1/hero.jpg');
    background-position: center;
    background-size: cover;
    height: 360px;
  
    @media (max-width: 2000px){
      h1 {
          color:	#008080;
          font-size: 60px;
          text-align: center;
      }
      h2 {
            color:#008B8B;
            font-size: 30px;
            text-align: center;
        }
    }
  
    @include md {
        height: 683px;
    }
}